@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pour une vie naturelle</h1>
    <p class="lead">Produits Naturels</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div>
    <img src="~/Images/img1.jpg" />
    <img src="~/Images/img2.jpg" />
    <img src="~/Images/img3.jpg" />   
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Qui sommes nous ?</h2>
        <p>
            Apresentation de l'entreprise
        </p>
        <p>
            Histoire
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Besoin d'aide ?</h2>
        <p>Notre Services</p>
       @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Conditions générales de ventes</h2>
        <p>Notre conditions de ventes et livraison </p>
       @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>